/.cloud
/.storage
/custom_components
/appdaemon/compiled
/appdaemon/dashboards
/appdaemon/namespace
/appdaemon/web
/appdaemon/www
/blueprints
/node-red
/deps
/home-assistant.log
/home-assistant.log.1
/home-assistant.log.fault
/home-assistant_v2.db
/home-assistant_v2.db-shm
/home-assistant_v2.db-wal
/esphome/.esphome
/esphome/esp32-board
/tts
/image
/dwains-dashboard
/www/community
/www/tmp
/www/tmp_doorbell
/themes
*.pyc
secrets.yaml
home-assistant_v2.db.corrupt.2022-07-14T07:41:10.201928+00:00
home-assistant_v2.db.corrupt.2022-07-14T07:50:10.062127+00:00
